:root{
    --color-menu: rgba(0, 0, 255, 0.393);
    --color-menu-hover:rgba(0, 0, 255, 0.562);
    --color_submenu:rgba(0, 0, 0, 0.623);
    --color-a-hover:white;
    --color-fondo-encavezado: rgb(41, 41, 41);
    --font-maquina-vieja:'Syne Mono', monospace;
    --color-verde-viche: rgba(0, 255, 0, 0.897);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.Encabezado{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/sat.png");
    background-position:15px -135px;
    background-size: cover;
    background-color: var(--color-fondo-encavezado);
    padding: 30px 0 30px 30px;
    /*background-color:rgba(0, 0, 136, 0.555);*/
    transition: 1.5s;
    
}


#cursor{
    background-color: var(--color-menu);
}

/*Lista-------------------------*/
.La_lista{/*div*/
    padding: 0 15% 0 0;
}

.La_lista ul li{
    list-style: none;
    margin-bottom: 8px;
    margin-top: 8px;
    
}
.La_lista ul li a{
    transition: 1s;
}
.La_lista ul li a:hover{
    color: white;
    /*esta linea cambia el cursor a la manito*/
    cursor: pointer;
    font-size: 1.3em;
    
}
.aparece{
    display: none;
}
.apa{
    display: none;
}


/*no hay contenido que mostrar*/
.sin_contenido{
    text-align: center;
    margin: 50px 0;

}
#no_hay_contenido{
    width: 500px;
    height: 500px;
}

/*recoleccion de datos*/


/*Contenido de datos*/
.ContenedorN{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.863);
    height: 700px;
    z-index: 1555;    
    flex-wrap: wrap;
    /*display: none;*/
    position: absolute;
    top: 00px;
    
}

/* seccion de input-----------------------------------------------------------------*/
.ContenedorN .seccion{
    width: 50%;
    height: 55px;
    position: relative;

}
.ContenedorN .seccion input{
    height: 30px;
    width: 70%;
    padding-top: 20px;
    border: none;
    font-size: 20px;
}
.ContenedorN .seccion label{
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 0%;
    width: 70%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.ContenedorN .seccion label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.397) 3px solid;
    
}
.ContenedorN .seccion input:focus
+ label [class*="contenido"]{
    transform: translateY(-100%);
    font-size: 14px;
    

}
.ContenedorN .seccion label [class*="contenido"]{
    position: absolute;
    bottom: 25px;
    left: 0px;
    transition: all 0.5s ease;

}



#diviciona{
    width: 100%;
    margin: 0 0 3.125em 0;
}



/*barra de acciones-------------------------*/
.barra_acciones{
    width: 100%;
    height: 50px;
    background-color: var(--color_submenu);
    box-shadow: black 0px 5px 25px;
    position: sticky;
    top: 0px
}
.barra_acciones ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 100px;
    
}
.barra_acciones ul li{
    margin: 0 35px 0 0;
    line-height: 1em;
    width: 80px;
}
.barra_acciones ul li .a{
    width: 100%;
    height: 50%;
    display: block;
    text-decoration: none;
    color: black;
    background-color: var(--color-verde-viche);
    margin: 12% 0 0 0;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    z-index: 900;

}
.barra_acciones  ul li .a:hover{
    background-color: var(--color-menu-hover);
    color:black;
}
/*tabla de clientes----------*/
.Tabla_Clientes{
    z-index: -1;
}


