/*----------------------------estilos footer----------------------------*/
.main_footer{
    background: #222;
    color: blanchedalmond;
    padding: 35px 20px;
    margin-top: 15px;
    box-shadow: black 0px -5px 10px;
}
.link_redes{
    display: block;
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
}
.column_txt{
    text-align: justify;
    margin: 0 15px;
}
.column_title{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.column{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}


.column_33{
    width:33%;
}