{%extends "Plantilla.html" %}
{%block body%}
<link rel="stylesheet" href="{{url_for('static', filename='css/nav_lateral_stile.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/estilos_clientes.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Nuevo_Registro.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="Contenedor">

    <div class="tras" id="tras"><b>></b></div>
    <div class="Nav_Lateral" id="Nav_Lateral">

        <div class="nav_lateral" id="nav_lateral">

            <h4 class="Logo">
                <a href="" class="logo">
                    VIGILANTES-24/7
                </a>
            </h4>
            <hr class="LineaCompleta">
            <div class="Imagen">
                <img src="{{ url_for('static', filename= 'img/logo.jpg')}}" alt="Vigilantes-24/7">

            </div>
            <!--<h3 class="NombreUsuario">
                Nombre de Usuario
                <hr class="LineaCorta">
            </h3>-->
            <div class="tres_iconos">
                <div class="Icono"><a href="">i*</a></div>
                <div class="Icono"><a href="">i-</a></div>
                <div class="Icono"><a href="">i+</a></div>
            </div>

            <hr class="LineaCompleta">

            <div class="La_lista">
                <ul>
                    <li><a href="/Clientes">Usuarios</a></li>
                    <li><a href="/Vehiculos">Vehiculos</a></li>
                    <li><a href="#">Facturacion</a></li>
                    <li><a href="#">Informacion Rapida</a></li>
                    <li><a href="#">MAS</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>
<div class="Contenido">

    <div class="barra_acciones">
        <ul>
            <li>
                <div class="a" id="btn_nuevo">
                    <span>
                        <b>Nuevo</b>

                    </span>
                </div>

            </li>
            <li class="apa">
                <div class="a">
                    <b>Editar</b>
                </div>
            </li>
            <li class="apa">
                <div class="a">
                    <b>Eliminar</b>
                </div>
            </li>
            <li class="apa">
                <div class="a">
                    <b>Retirado</b>
                </div>
            </li>
        </ul>
    </div>
    {% if contenido == True%}
    <div class="sin_contenido">

        <h2>SIN CONTENIDO</h2>
        <img src="{{url_for('static', filename='img/No_hay_contenido.svg')}}" id="no_hay_contenido" alt="">
    </div>
    {%else%}
    <div class="tabla_clientes">
        <div class="herramientas">
            <ul>
                <li>
                    <span><input type="checkbox"></span>
                </li>
                <li>
                    <button>
                        <b class="material-icons">add_circle</b>
                    </button>
                </li>
                <li>
                    <button>
                        <b class="material-icons">edit</b>
                    </button>
                </li>
                <li>
                    <button>
                        <b class="material-icons">delete</b>
                    </button>
                </li>
                <li>
                    <button>
                        <b class="material-icons">share</b>
                    </button>
                </li>
            </ul>
        </div>
        <div class="buscador">
            <input type="text">
        </div>
        <table class="Tabla_Clientes">
            <thead>
                <tr id="cabeza">
                    <td class="check_tabla fondo_negro font_blanco borde_tabla">
                        <span><input type="checkbox" name="" id=""></span>
                    </td>
                    <td class="fondo_negro font_blanco borde_tabla">
                        <span class="estado"></span>
                    </td>
                    {%for i in dat_colum%}
                    
                    <td class="fondo_negro font_blanco borde_tabla">
                        <b>{{i}}</b>
                    </td>
                    {%endfor%}
                    <td class="fondo_negro font_blanco borde_tabla">
                        Acción
                    </td>
                </tr>



            </thead>
            <tbody>

                {%for i in Clientes%}
                
                <tr>
                    <td class="check_tabla">
                        <span><input type="checkbox" name="" id=""></span>
                    </td>
                    <td>
                        <span class="estado"></span>
                    </td>
                    <td class=" borde_tabla">
                        {{i.1}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.2}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.3}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.4}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.5}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.6}}
                    </td>
                    <td class=" borde_tabla">
                        {{i.7}}
                    </td>
                    
                    <td class=" borde_tabla" style="display: flex;">
                        <a class="fondo_verde boton_editar margin_15 padding_lados_15 font_blanco" href="/Editar/{{i.0}}">editar</a>
                        <a class="fondo_rojo boton_eliminar margin_15 padding_lados_15 font_blanco" href="/Eliminar/{{i.0}}">eliminar</a>
                    </td>
                </tr>

                {%endfor%}

            </tbody>
        </table>
        <div class="footer_tabla">
            <div class="lista_items">
                <select name="n-entradas" id="n-entradas">
                    <option value="15">5</option>
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                </select>
            </div>
            <div class="paginas">
                <ul>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                    <li><span>...</span></li>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                </ul>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="aparece" id="nuevoU">
        <div>

            <form action="/Cliente_Nuevo" method="POST">

                <div class="ContenedorN" id="">
                    <h2 class="titulo">
                        <b>Ingrese los datos solicitados.</b>
                    </h2>
                    <div class="seccion">
                        <input type="text" name="Nombre_Completo" autocomplete="off" required>
                        <label for="Nombre_Completo" class="Label_Nombre_Completo">
                            <span class="contenido_Nombre_Completo">Nombre Completo.</span>
                        </label>
                    </div>
                    <div class="seccion">
                        <input type="text" name="Telefono" autocomplete="off" required>
                        <label for="Telefono" class="Label_Telefono">
                            <span class="contenido_Telefono">Telefono.</span>
                        </label>
                    </div>





                    <div class="seccion">
                        <input type="text" name="Correo" autocomplete="off" required>
                        <label for="Correo" class="Label_Correo">
                            <span class="contenido_Correo">Correo.</span>
                        </label>
                    </div>

                    <div class="seccion">
                        <input type="text" name="Cedula" autocomplete="off" required>
                        <label for="Cedula" class="Label_Cedula">
                            <span class="contenido_Cedula">Cedula.</span>
                        </label>
                    </div>

                    <div class="seccion">
                        <input type="text" name="DIRECCION" autocomplete="off" required>
                        <label for="DIRECCION" class="Label_DIRECCION">
                            <span class="contenido_DIRECCION">Direccion</span>
                        </label>
                    </div>

                    <div class="seccion">
                        <input type="text" name="ID" autocomplete="off" required>
                        <label for="ID" class="Label_ID">
                            <span class="contenido_ID">Codigo de seguridad</span>
                        </label>
                    </div>
                    

                    <button type="submit" class="btn_guardar">
                        Guardar

                    </button>
                    <div class="salir">
                        <p id="salir">Cancelar</p>
                    </div>

                    <hr id="diviciona">


                </div>

            </form>
        </div>


    </div>







</div>
<script src="{{url_for('static', filename='js/menu.js')}}"></script>
<script src="{{url_for('static', filename='js/NuevoCliente.js')}}"></script>


{%endblock%}