{%extends "Plantilla.html" %}
{%block body%}
    
    <div class="Contenedor">
        <div class="tras" id="tras"><b>></b></div>
        
        <div class="Nav_Lateral" id="Nav_Lateral">
            
            <div class="nav_lateral" id="nav_lateral">
                
                <h2 class="Logo">
                    <a href="" class="logo">
                        VIGILANTES-24/7
                    </a>
                </h2 >
                <hr class="LineaCompleta">
                <div class="Imagen">
                    <img src="../img/logo.jpg" alt="Vigilantes-24/7">
                
                </div>
                <h3 class="NombreUsuario">
                    Nombre de Usuario
                    <hr class="LineaCorta">
                </h3>
                <div class="tres_iconos">
                    <div class="Icono"><a href="">i*</a></div>
                    <div class="Icono"><a href="">i-</a></div>
                    <div class="Icono"><a href="">i+</a></div>
                </div>
                
                <hr class="LineaCompleta">
                
                <div class="La_lista">
                    <ul>
                        <li><a href="">Materiales</a></li>
                        <li><a href="">Lista de proyectos</a></li>
                        <li><a href="">Actividades</a></li>
                        <li><a href="">Costo de unidad de actividad</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="Contenido">

            
            

        </div>
    </div>

{%endblock%}