{%extends "Plantilla.html" %}
{%block body%}
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_estilos.css')}}">
    <div class="Baner">
        <div class="sobreBaner">
            <div class="TextoBaner">
                <p class="ParrafoTitulo">
                    Monitorea, Controla y Rastrea tu Vehiculo en Tiempo Real.
                </p>
            </div>
    
        </div>
    </div>
    
    <div class="Contenido">
        
        <div class="title">
            <h1 class="center">Vigilancia satelital en tiempo real.</h1>
            <h3 class="center">vigilantes 24-7</h3>
        </div>
        <div class="Articulo">
            <img src="{{ url_for('static', filename='img/sat.png')}}" id="obj_animado" alt="">
            <div class="titlo_articulo">
                <b>
                    <h3>Rastreo Satelital</h3>
                </b>
                <p class="parrafo_articulo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. exercitationem in ullam cumque perferendis dolores nihil.lorem Lorem ipsum dolor sit amet, consectetur adipisicing Omnis similique est modi aliquam tempora id suscipit, ipsam atque, provident eveniet, rerum animi mollitia elit. Officia ratione at officiis iste sequi harum voluptatibus deleniti ab illum, nesciunt soluta inventore eos odio vel tempora, ipsam totam, rem reprehenderit.
                </p>
                
            </div>
            
        </div>
        <div class="Articulo">
            
            <div class="titlo_articulo">
                <b>
                    <h3>Apagado Remoto</h3>
                </b>
                <p class="parrafo_articulo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique est modi aliquam tempora id suscipit, ipsam atque, provident eveniet, rerum animi mollitia exercitationem in ullam cumque perferendis dolores nihil.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione at officiis iste sequi harum voluptatibus deleniti ab illum, nesciunt soluta inventore eos odio vel tempora, ipsam totam, rem reprehenderit.
                </p>
                
            </div>
            <img src="{{ url_for('static', filename='img/pexels-an.png')}}" id="_animado" class="in" alt="">



        </div>

        <div class="tarjeta_precios">
            <div class="tarjeta">

            </div>
            <div class="tarjeta">

            </div>
        </div>


        <div class="Articulo">
            <img src="{{ url_for('static', filename='img/pexels-anu.png')}}" class="in" id="obj_animado" alt="">
            <div class="titlo_articulo">
                <b>
                    <h3>Reporte de Recorrido</h3>
                </b>
                <p class="parrafo_articulo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique est modi aliquam tempora id suscipit, ipsam atque, provident eveniet, rerum animi mollitia exercitationem in ullam cumque perferendis dolores nihil.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione at officiis iste sequi harum voluptatibus deleniti ab illum, nesciunt soluta inventore eos odio vel tempora, ipsam totam, rem reprehenderit.
                </p>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/animacion_index.js')}}"></script>

{%endblock%}

    
    
    