<div class="Contenedor">
    <div class="tras" id="tras"><b>></b></div>
    <div class="Nav_Lateral" id="Nav_Lateral">

        <div class="nav_lateral" id="nav_lateral">

            <h4 class="Logo">
                <a href="" class="logo">
                    VIGILANTES-24/7
                </a>
            </h4>
            <hr class="LineaCompleta">
            <div class="Imagen">
                <img src="{{ url_for('static', filename= 'img/logo.jpg')}}" alt="Vigilantes-24/7">

            </div>
            <!--<h3 class="NombreUsuario">
                Nombre de Usuario
                <hr class="LineaCorta">
            </h3>-->
            <div class="tres_iconos">
                <div class="Icono"><a href="">i*</a></div>
                <div class="Icono"><a href="">i-</a></div>
                <div class="Icono"><a href="">i+</a></div>
            </div>

            <hr class="LineaCompleta">

            <div class="La_lista">
                <ul>
                    <li><a href="/Clientes">Usuarios</a></li>
                    <li><a href="/Vehiculos">Vehiculos</a></li>
                    <li><a href="/Crear_Factura">Facturacion</a></li>
                    <li><a href="#">Informacion Rapida</a></li>
                    <li><a href="#">MAS</a></li>

                </ul>
            </div>
        </div>

    </div>

</div>